body {
    font-family: 'Roboto', sans-serif;
    background-color: #17171c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

*:focus {
    outline: none;
}

button {
    font-size: 24px;
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
    height: 80px;
    width: 80px;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
}

button:hover {
  transform: scale(1.03);
}

.container {
    background-color: #f1f2f3;
    border-radius: 20px;
    width: 368px;
    height: auto;
    padding: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.result-container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#equation-display {
    font-size: 30px;
    background-color: #f1f2f3;
    color: rgb(104, 104, 104);
    text-align: right;
    border: none;
    padding: 16px 16px 0 16px;
    flex: 1;
}

#result-display {
    font-size: 50px;
    background-color: #f1f2f3;
    text-align: right;
    border: none;
    padding: 16px;
    flex: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.buttons-container {
    display: flex;
    gap: 16px;
}

.operator-btn {
    background-color: #4b5efc;
    color: #ffffff;
}

.action-btn {
    background-color: #d2d3da;
}

.action-btn.equal-btn {
    background-color: #4b5efc;
    color: #ffffff;
}

.column-one, 
.column-two,
.column-three {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.column-one > div {
    display: flex;
    gap: 16px;
}

.column-one > button {
    width: 100%;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    margin-top: 2rem;
}

footer a {
    text-decoration: none;
    color: #777;
}
